body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header{
    background: #003063;
    color: white;
    padding: 15px 0; /* espaçamento interno 15px acima e abaixo, e 0px esquerda e direta*/
    font-size: 24px;
}

nav {
    background-color: #007bff;
    padding: 10px;
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* alinhamento na horizontal - espaço entre os links */
    align-items: center; /* alinhamento na vertical */
}

#links-menu {
    display: flex;
    gap: 35px;
}

/* configura o estilo das âncoras que estão dentro do nav */
nav a {
    color: white; /* texto branco */
    text-decoration: none; /* não faz decoração no link */
    padding: 10px 15px; /* 10px é acima e abaixo 15px é esq. / dir. */
    font-size: 18px; /* 18px de tamanho da fonte */
    background: #003063; /* cor de fundo */
    border-radius: 5px; /* borda com canto arredondado */
}

nav a:hover {
    background: #003d82;
}

img {
    width: 100px;
    height: auto;
    margin-right: 5px; /* espaçamento externo à direita de 5px */
    border-radius: 10px;
}

.container{
    width: 80%;
    margin: 20px auto;  /* 20px em cima e em baixo e automática èsquerda e direto */
    background: white;
    padding: 20px; /* espaçamento interno é nos 4lados */
    border-radius: 10px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* h2 geral */
h2 {
    text-align: center;
}

/* tabela geral */
table tr td {
    padding: 20px;
}

/* table geral */
table {
    /* esp. externo de acima/abaixo e automatico para esquerda/direita */
    margin: 0 auto;
}

/* texto titulo em cima */
.titulo {
    color: white;
    background-color: #007bff;
    display: inline-block;
    padding: 10px;
    border-radius: 35px;
}

/* tabela do FORMATO (parte de cima) */
.tabelaformatoum {
    background-color: wheat;
}

 /* tabela do FORMATO (parte de baixo) */
.tabelaformatodois {
    background-color: rgb(253, 235, 203);
}

/* subtitulo equipe (GINCANA) */
.equipes {
    text-align: left;
    margin-left: 60px;
    background-color: #ffb401;
    border-radius: 20px;
    padding: 5px;
    width: 15%;
}

/* tabela das equipes (GINCANA) */
.tabelaequipe {
    text-align: center;
}

/* tabela das cores la (GINCANA) */ 
.tabelagincana{
    width: 80%;
    border-collapse: collapse;
}

/* configurando UNICAMENTE o TD da tabela acima (.tabelagincana) - GINCANA */
.tabelagincana td{
    margin: 0;
    padding: 8px;
}

.tabelacursosealunos{
    width: 70%;
    border-collapse: collapse;
}

/* configurando UNICAMENTE o TD da tabela acima (.tabelacursosealunos) - GINCANA */
.tabelacursosealunos td{
    margin: 0px;
    padding: 8px;
}

/* tabela da GINCANA(parte de cima) ("equipe, cursos, alunos, padrinhos" */
.equipe {
    background-color: #003063;
    color: white;
    text-align: center;

}

/* cores da tabela da GINCANA */
.preta{
    background-color: black;
    color: white;
}

.laranja{
    background-color: orange;
}

.roxa{
    background-color: purple;
    color: white;
}

.verde{
    background-color: green;
    color: white;
}

.vermelha{
    background-color: red;
    color: white;
}

/* tabela de tais cursos e quantidade de alunos (GINCANA) */
.cursosealunos{
    background-color: #003063;
    color: white;
}

/* tabela que cada equipe tem que cumprir (GINCANA) */
.metasequipe{
    background-color: rgb(213, 232, 250);
    border-collapse: collapse;
}

/* criado UNICAMENTE para letras pequenas em baixo da tabela acima (.metasequipe) - GINCANA */
.asterisco{
    text-align: center;
    margin: 0;
}

/* texto da parte de cima da INTEGRAÇÃO (texto: "noite de encerramento") */
.integracao{
    text-align: left;
    margin-left: 60px;
    background-color: #ffb401;
    border-radius: 20px;
    padding: 5px;
    width: 38%;
}

/* criado UNICAMENTE para colocar o verso na centralizado na esquerda */
.fullesquerda{
    text-align: left;
}

/* tabelinha na INTEGRAÇÃO que tem um aviso ("importante...a qeuipe que exceder..." */
.tabelaintegracao{
    background-color: rgb(253, 236, 203);
    border-collapse: collapse;
    margin-left: 2%;
}

/* textinhos "1,2 e 3" na INTEGRAÇÃO */
.criterios{
    margin: 0;
}

/* tabela 3 da GINCANA */
.metasporequipe{
    border-collapse: collapse;
}

/* para deixar os textos centralizados */
.textcenter{
    text-align: center;
}

/* bagui da calculadora */
.campos {
    padding: 12px;
    margin-left: 10px;
}



/* restante da calculaora (REVISAR ANTES) */
.Tabela4 {
    text-align: center;
    border-color: black;
    table-layout: fixed;
}

.Tabela4 td,
.Tabela4 th {
    padding: 5px;
}

.linha-1-tabela-4 {
    background-color: rgb(0, 0, 97);
    color: white;
}

.linha-2-tabela-4 {
    background-color: rgb(0, 0, 97);
    color: white;
}

#Curso1 {
    text-align: justify;
}

#Curso2 {
    text-align: justify;
}

#Curso3 {
    text-align: justify;
}

#Curso4 {
    text-align: justify;
}

#Curso5 {
    text-align: justify;
}

#linha-1-container3 {
    text-align: center;
}

.Tabela5 {
    text-align: center;
    border-color: black;
    table-layout: fixed;
    width: 500px;
}

.linha-1-tabela-5 {
    background-color: rgb(0, 0, 97);
    color: white;
}

.container4 {
    text-align: justify;
    width: 40%;
    padding: 10px;
    background-color: rgba(208, 214, 218, 0.973);
    border: 1px solid;
    border-color: black;
}

#linha-1-container4 {
    text-decoration: underline;
}

.container5 {
    text-align: justify;
    width: 50%;
    padding: 10px;
    border: 1px solid;
    border-color: black;
    background-color: rgba(239, 245, 78, 0.307);
}

.container6 {
    text-align: justify;
    width: 40%;
    padding: 10px;
    background-color: rgba(208, 214, 218, 0.973);
    border: 1px solid;
    border-color: black;
}

.Tabela6 {
    text-align: center;
    border-color: black;
    table-layout: fixed;
    width: 500px;
}

.linha-1-tabela-6 {
    background-color: rgb(0, 0, 97);
    color: white;
}

.container7 {
    text-align: justify;
    width: 50%;
    padding: 5px;
    background-color: rgba(208, 214, 218, 0.973);
    border: 1px solid;
    border-color: black;
}

#linha-1-container7 {
    text-align: justify;
    margin-left: 40px;
}

.container8 {
    text-align: justify;
    width: 45%;
    padding: 5px;
    background-color: rgba(208, 214, 218, 0.973);
    border: 1px solid;
    border-color: black;
}

#linha-1-container8 {
    margin-left: 10px;
}

#linha-6-container8 {
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
}

.Tabela7 {
    border-color: black;
    table-layout: fixed;
    width: 800px;
    border-collapse: collapse;
}

.linha-1-tabela-7 {
    background-color: rgb(155, 155, 157);
    text-align: center;
}

.centro{
    text-align: center;
}